---
// Imports
import Footer from '../components/common/footer.astro';
import Header from '../components/blog/blogpostheader.astro';
import Head from '../components/common/head.astro';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { frontmatter } = Astro.props;
const title = frontmatter.data.title + " | DragonForgeNEXUS' Blog"
---
<!DOCTYPE html>
<html lang="en" class="bg-slate-300 text-slate-900 transition ease-in-out delay-150 duration-300" transition:animate="slide">
	<head>
		<Head title={title} description={frontmatter.data.description} icon="/imgs/Logos/Square/Solid/250/PNG/DRAGONFORGENEXUS.png" banner={frontmatter.data.image.url} page={canonicalURL}/>
	</head>
	  <body>
      <Header />
	  	<div class=" min-h-screen">
        <div class="prose md:prose-lg lg:prose-xl mx-auto mt-5 mb-10 px-5 md:px-0">
          <img src={frontmatter.data.image.url} alt={frontmatter.data.image.alt} transition:name={"BlogPost" + frontmatter.data.slug}   class="w-full rounded-xl"/>
          <p><em>{frontmatter.data.description}</em></p>
          <p>Written by: {frontmatter.data.author}</p>
          <p>{String(frontmatter.data.pubDate).slice(0, 15)}</p>
          <hr />
          <slot />
        </div>
	  	</div>
      <script is:inline
      src="https://utteranc.es/client.js"
      repo="Dragon-Forge-NEXUS/Blog-Comments"
      issue-term="title"
      theme="preferred-color-scheme"
      crossorigin="anonymous"
      async>
      </script>
	  <Footer />
	</body>
</html>