---
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// Imports
import Footer from '../components/common/footer.astro';
import Head from '../components/common/head.astro';
import Drawer from '../components/common/wholesitedrawer.astro';
import Header from '../components/base/header.astro';
const { frontmatter } = Astro.props;
const title = frontmatter.data.title + " | DragonForgeNEXUS' Blog"
---
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" class="bg-slate-900 " transition:animate="slide">
	<head>
		<Head title={title} description={frontmatter.data.description} icon="/imgs/Logos/Square/Solid/250/PNG/DRAGONFORGENEXUS.png" banner={String(frontmatter.data.image.url)} page={canonicalURL}/>
	</head>
	<body>
		<Header />
		<Drawer>
    <div class="prose md:prose-lg lg:prose-xl mx-auto mt-5 mb-10 px-5 md:px-0">
      <img src={frontmatter.data.image.url} alt={frontmatter.data.image.alt} transition:name={"BlogPost" + frontmatter.data.slug} class="w-full rounded-xl"/>
      <p>{String(frontmatter.data.pubDate).slice(0, 15)}</p>
      <p><em>{frontmatter.data.description}</em></p>
      <p>Written by: {frontmatter.data.author}</p>
      <slot />
    </div>
    <script src="https://utteranc.es/client.js"
        repo="Dragon-Forge-NEXUS/Blog-Comments"
        issue-term="title"
        theme="icy-dark"
        crossorigin="anonymous"
        async>
    </script>
    </Drawer>
    <Footer />
  </body>
</html>